.emptyCart{
    margin: auto;
    text-align: center;
    padding: 10vmax;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emptyCart > p{
    font-size: 2vmax;
    color: tomato;
}

.emptyCart> a {
    background-color: rgb(53,53,53);
    color: white;
    border: none;
    cursor: pointer;
    padding: 1vmax 3vmax;
    font : 400 1vmax 3vmax;
    text-decoration: none;
}

.cartPage{
    padding: 5vmax;   /* top se thora neeche or center men ajaye ga navbar type */
}

.cartHeader{
    background-color: tomato;
    width: 90%;
    box-sizing: border-box;
    display: grid;
    color: white;
    margin: auto;  /*taake center ho jaye */
    grid-template-columns: 4fr 1fr 1fr;  /*ye karta hai jaado 1st wala 4 jaga lega 2 wala 1 3rd wala bhi 1 */
    font: 300 0.7vmax "Roboto";
}

.cartHeader > p {
    margin: 10px;
}

.cartHeader > p:last-child {
    text-align: end;           /*last wala bilkul end pe chala jaye ga */
}


.cartContainer {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
}

.cartInput{
    display: flex;
    align-items:center;
    height: 8vmax;
}

.cartInput > button {
    border: none;
    background-color: rgba(0,0,0,0.616);
    cursor: pointer;
    color: white;
    padding: 0.5vmax ;
    transition: all 0.5s;
}

.cartInput > button:hover{
    background-color: rgba(0,0,0,0.767);
}

.cartInput > input {
    border: none;
    padding: 0.5vmax;
    width: 1vmax;
    text-align: center;
    outline: none;
    font: 400 0.8vmax "Roboto";
    color: rgba(0,0,0,0.74);
}

.cartSubtotal {
    display: flex;
    padding: 0.5vmax;
    justify-content: flex-end;
    color: rgba(0,0,0,0.753);
    font: 300 1vmax cursive;
    box-sizing: border-box;
    align-items: center;
    height: 8vmax;
}


.cartGrossTotal{
    display: grid;
    grid-template-columns: 2fr 1.2fr;
}

.cartGrossTotalBox{
    border-top: 3px solid tomato;
    box-sizing: border-box;
    margin: 1vmax 4vmax;
    justify-content: space-between;
    display: flex;
    font: 300 1vmax "Roboto";
    padding: 2vmax 0;
}

.checkOutBtn {
    display: flex;
    justify-content: flex-end;
}

.checkOutBtn > button {
    background-color: tomato;
    border-radius: 30px;
    padding: 0.8vmax 4vmax;
    border: none;
    color: white;
    cursor: pointer;
    margin: 1vmax 4vmax ;
    font: 300 0.8vmax "Roboto";
    width: 50%;
}


@media screen and (max-width : 600px) {
    
    .cartPage {
        padding: 0;   /* oper chipak jaye ga */
        min-height: 60vh;
    }

    .cartHeader {
        width: 100%;
        font: 300 1.7vmax "Roboto";
        grid-template-columns: 3fr 1fr 1fr;
    }

    .cartContainer {
        width: 100%;
        grid-template-columns: 3fr 1fr 1fr;
    }

    .cartInput {
        height: 20vmax;
    }

    .cartInput > button {
        padding: 1.5vmax;
    }

    .cartInput > Input {
        width: 2vmax;
        padding: 1.5vmax;
        font: 400 1.8vmax "Roboto"; 
    }

    .cartSubtotal {
        padding: 1.5vmax;
        height: 20vmax;
        font: 300 2vmax "Roboto";
    }

}
